@media (prefers-color-scheme: dark)
    body
        background-color #111

    h1, h1 a, h2, h3
        color #eee

    p
        color #ccc

    ul
        color #aaa

    .logo
        color #eee
    
    .footer
        border-color #555

        a
            color #ccc
        
    .posts-post
        border-color #555

    code
        background-color #222
        color #ddd

    pre
        background-color #222
