.logo
    display block
    margin 1.5em 0 2.5em 0
    width 100px
    height 100px
    background-image url(/images/jari.png)
    background-size 100% auto
    border-radius 50px
    text-decoration none
    font-family titleFonts
    font-weight 500
    letter-spacing -0.03em
    color #000
    
    span
        padding-left 120px
        font-size 2.5em
        white-space nowrap
        line-height 100px

    @media only screen and (max-width: 850px)
        width 60px
        height 60px
        border-radius 30px

        span
            padding-left 75px
            font-size 1.8em
            line-height 60px
