<footer class="footer" role="contentinfo">
    <p>Jari Lehtinen - Web Developer - <a href="mailto:jari@feature.fi">jari@feature.fi</a> - <a href="https://twitter.com/jarilehtinen/">@jarilehtinen</a></p>
</footer>
