<footer class="footer" role="contentinfo">
    <p>Jari Lehtinen &ndash; Web Developer &ndash; <a href="mailto:jari@feature.fi">jari@feature.fi</a> &ndash; <a href="https://twitter.com/jarilehtinen/">@jarilehtinen</a></p>
</footer>
