---
layout: base.njk
permalink: "{{ page.fileSlug }}/index.html"
---
<article class="post">
    <h1 class="post-title" itemprop="name">{{ title }}</h1>
    <time date-time="{{ date | dateISO }}" class="post-date">{{ date | dateReadable }}</time>
    <div class="post-text">
    {{ content | safe }}
    </div>
</article>