body
    padding 0 0 5em 0
    margin 0
    border-top 10px solid #000
    background-color bgColor


.wrapper
    max-width 950px
    margin 0 auto
    padding 0 1em

    @media only screen and (max-width: 850px)
        margin 0 1em

    @media only screen and (max-width: 500px)
        margin 0
