.footer
    clear both
    margin 2em 0 0 0
    padding 2em 0 0 0
    text-align center
    background-image url(/images/dots.svg)
    background-size auto 7px
    background-position center top

    p
        font-size 1em
        font-family titleFonts
        font-weight 400
        margin 0 auto

    a
        color #000
        text-decoration none

        &:hover
            opacity .8