// Default light color scheme
.namespace
	opacity .7

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata
	color codeComment

.token.punctuation
	color codePunctuation

.token.number,
.token.symbol,
.token.deleted
	color codeNumber

.token.string,
.token.char,
.token.builtin,
.token.inserted
	color codeString

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string
	color codeOperator

.token.atrule,
.token.attr-value,
.token.keyword
	color codeKeyword

.token.function
	color codeFunction

.token.regex,
.token.important,
.token.variable
	color codeVariable

.token.important,
.token.bold
	font-weight bold

.token.italic
	font-style italic

.token.constant
	color codeConstant

.token.class-name
	color codeClassName

.token.parameter
	color codeParameter

.token.interpolation
	color codeInterpolation

.token.punctuation.interpolation-punctuation
	color codeInterpolationPunctuation

.token.boolean
	color codeBoolean

.token.property
	color codeProperty

.token.selector
	color codeSelector

.token.tag
	color codeTag

.token.attr-name
	color codeAttrName

.token.attr-value
	color codeAttrValue

.token.entity
	color codeEntity

.token.namespace
	color codeNamespace

// Dark color scheme
@media (prefers-color-scheme: dark)
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata
		color codeDarkComment

	.token.punctuation
		color codeDarkPunctuation

	.token.number,
	.token.symbol,
	.token.deleted
		color codeDarkNumber

	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted
		color codeString

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string
		color codeDarkOperator

	.token.atrule,
	.token.attr-value,
	.token.keyword
		color codeDarkKeyword

	.token.function
		color codeDarkFunction

	.token.regex,
	.token.important,
	.token.variable
		color codeDarkVariable

	.token.constant
		color codeDarkConstant

	.token.class-name
		color codeDarkClassName

	.token.parameter
		color codeDarkParameter

	.token.interpolation
		color codeDarkInterpolation

	.token.punctuation.interpolation-punctuation
		color codeDarkInterpolationPunctuation

	.token.boolean
		color codeDarkBoolean

	.token.property
		color codeDarkProperty

	.token.selector
		color codeDarkSelector

	.token.tag
		color codeDarkTag

	.token.attr-name
		color codeDarkAttrName

	.token.attr-value
		color codeDarkAttrValue

	.token.entity
		color codeDarkEntity

	.token.namespace
		color codeDarkNamespace