html
    font-family fonts

h1
    margin 0 0 .2em 0
    font-family titleFonts
    font-size 5vw
    font-weight 700
    line-height 1em
    letter-spacing -.03em

    a
        text-decoration none
        color #000

    @media only screen and (max-width: 850px)
        font-size 2.2em
        line-height 1.2em

    @media only screen and (max-width: 650px)
        line-height 1.1em

h2
    font-family titleFonts
    font-size 2.5em
    font-weight 700
    margin 1.5em 0 .7em 0

    @media only screen and (max-width: 850px)
        font-size 1.6em

h3
    font-family titleFonts
    font-size 1.4em
    margin 1.2em 0 .5em 0

    @media only screen and (max-width: 850px)
        font-size 1.3em

p
    font-size 1.6em
    line-height 1.45em
    margin 0 0 .9em 0
    color #222

    code
        font-size .8em

    @media only screen and (max-width: 650px)
        font-size 1.3em
        line-height 1.25em

strong
    font-weight 700

ul
    margin .5em 0 .7em 2em
    font-size 1.6em
    line-height 1.45em
    color #333

    @media only screen and (max-width: 650px)
        font-size 1.3em
        line-height 1.25em

code
    display inline-block
    background-color #F6F8FA
    color #444
    padding .4em .5em
    overflow auto
    white-space pre
    font-size 1.1em
    line-height 1.15em

pre
    font-size 1.15em
    overflow auto
    margin 0
    background-color #F6F8FA
    margin 1.2em 0
    padding .9em .95em

    code 
        display block
        line-height 1.35em

    @media only screen and (max-width: 650px)
        font-size 1.05em
