// Colors
green = #C2CC52
orange = #E94D26

// Fonts
fonts = 'Crimson Text', serif
titleFonts = Roboto, sans-serif

// Syntax highlight backgrounds
codeDark = #181818
codeLight = #F6F8FA

// Syntax highlight colors (light theme)
codeKeyword = #1B8AA7
codeVariable = #E94D26
codeFunction = #A64B9F
codeComment = #999
codePunctuation = #aaa
codeNumber = #71AE51
codeString = #B16242
codeSelector = #ce9178
codeOperator = #aaa
codeConstant = #9CDCFE
codeClassName = #4EC9B0
codeParameter = #9CDCFE
codeInterpolation = #9CDCFE
codeInterpolationPunctuation = #569cd6
codeBoolean = #569cd6
codeProperty = #9cdcfe
codeSelector = #d7ba7d
codeTag = #569cd6
codeAttrName = #9cdcfe
codeAttrValue = #ce9178
codeEntity = #4ec9b0
codeNamespace = #4ec9b0

// Syntax highlight colors (dark theme)
codeDarkKeyword = #c586c0
codeDarkVariable = #d16969
codeDarkFunction = #dcdcaa
codeDarkComment = #666
codeDarkPunctuation = #d4d4d4
codeDarkNumber = #b5cea8
codeDarkString = #ce9178
codeDarkSelector = #ce9178
codeDarkOperator = #d4d4d4
codeDarkConstant = #9CDCFE
codeDarkClassName = #4EC9B0
codeDarkParameter = #9CDCFE
codeDarkInterpolation = #9CDCFE
codeDarkInterpolationPunctuation = #569cd6
codeDarkBoolean = #569cd6
codeDarkProperty = #9cdcfe
codeDarkSelector = #d7ba7d
codeDarkTag = #569cd6
codeDarkAttrName = #9cdcfe
codeDarkAttrValue = #ce9178
codeDarkEntity = #4ec9b0
codeDarkNamespace = #4ec9b0