---
title: Jari Lehtinen
layout: base.njk
description: "The website of Jari Lehtinen. Web developer, made in Finland."
pagination:
    data: collections.post
    size: 5
    reverse: true
    alias: posts
---
<div class="posts">
{% for post in posts %}
    <article class="posts-post">
        <h1 class="post-title" itemprop="name"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h1>
        <time date-time="{{ post.data.date | dateISO }}" class="post-date">{{ post.data.date | dateReadable }}</time>
    </article>
{% endfor %}
</div>

{% if pagination.href.previous or pagination.href.next %}
<ul>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
</ul>
{% endif %}